<!DOCTYPE html>
<html>
<head>
<title>Guys Clothes</title>
        <link rel="stylesheet" href="/css/styles.css"/>

</head>
<body id="36">
<h1>Guys</h1>
<nav>
            <a href="/">Home</a>
            <a href="/male">Guys</a>
            <a href="/female">Girls</a>
            <a href="/cart">Shopping Cart</a>
</nav>
Color:
<select id="color" name="color">
          <option value="">Select One</option>
          <option value="Red">Red</option>
          <option value="Black">Black</option>
          <option value="Blue">Blue</option>
          <option value="White">White</option>
</select>
Type:
<select id="type" name="type">
          <option value="">Select One</option>
          <option value="sweaters">Sweaters</option>
          <option value="pants">Pants</option>
          <option value="shirts">Shirts</option>
</select>
Price:<input type="text">
  <button id="filterBtn">Filter</button>
<div class="row1">
  <div class="column1">
    <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1566405438-handvaerk-1566405431.jpg" alt="shirt" id="1"><br>
      <button id="add">Add to Bag</button>
  </div>
  <div class="column1">
    <img src="https://images-na.ssl-images-amazon.com/images/I/61yKX6C3WhL._UX569_.jpg" alt="shirt" id="1"><br>
    <button id="add">Add to Bag</button>
  </div>
  <div class="column1">
    <img src="https://prochemicalanddye.net/media/extendware/ewimageopt/media/inline/ac/4/t-shirts-with-polyester-thread-sizes-s-xl-55d.jpg" alt="shirt" id="1"><br>
    <button id="add">Add to Bag</button>
  </div>
</div>
<br>
<div class="row1">
  <div class="column1">
    <img src="https://scene7.zumiez.com/is/image/zumiez/pdp_hero/Champion-Boys-Logo-Dip-Dyed-Sunny-Yellow-T-Shirt--_308437.jpg" alt="shirt" id="1"><br>
    <button id="add">Add to Bag</button>
  </div>
  <div class="column1">
    <img src="https://images.www.fendi.com/images/h48/hbd/8918022848542/FY0626SV3F0QA1_01_medium" alt="shirt" id="1"><br>
    <button id="add">Add to Bag</button>
  </div>
  <div class="column1">
    <img src="https://www.bally.com/dw/image/v2/AAWE_PRD/on/demandware.static/-/Sites-bly-master-product-catalog/default/dwba8d1798/images/original/Tops_&_Shirts_M5CA564F_7S260_789F.jpg?sw=685&sh=685&sm=fit" alt="shirt" id="1"><br>
    <button id="add">Add to Bag</button>
  </div>
</div>
</body>
</html>